In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!wget https://physionet.org/files/challenge-2012/1.0.0/set-a.zip
!wget https://physionet.org/files/challenge-2012/1.0.0/set-b.zip

!wget https://physionet.org/files/challenge-2012/1.0.0/Outcomes-a.txt
!wget https://physionet.org/files/challenge-2012/1.0.0/Outcomes-b.txt

--2020-01-24 14:12:23--  https://physionet.org/files/challenge-2012/1.0.0/set-a.zip
Resolving physionet.org (physionet.org)... 18.13.52.205
Connecting to physionet.org (physionet.org)|18.13.52.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7938449 (7.6M) [application/zip]
Saving to: ‘set-a.zip.1’

set-a.zip.1         100%[===================>]   7.57M  8.41MB/s    in 0.9s

2020-01-24 14:12:25 (8.41 MB/s) - ‘set-a.zip.1’ saved [7938449/7938449]

--2020-01-24 14:12:25--  https://physionet.org/files/challenge-2012/1.0.0/set-b.zip
Resolving physionet.org (physionet.org)... 18.13.52.205
Connecting to physionet.org (physionet.org)|18.13.52.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7958979 (7.6M) [application/zip]
Saving to: ‘set-b.zip.1’

set-b.zip.1         100%[===================>]   7.59M  7.55MB/s    in 1.0s

2020-01-24 14:12:26 (7.55 MB/s) - ‘set-b.zip.1’ saved [7958979/7958979]

--2020-01-24 14:12:26--  https://physionet.org/files/challenge-2012/1.0.0/Outcomes-a.txt
Resolving physionet.org (physionet.org)... 18.13.52.205
Connecting to physionet.org (physionet.org)|18.13.52.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 79219 (77K) [text/plain]
Saving to: ‘Outcomes-a.txt.1’

Outcomes-a.txt.1    100%[===================>]  77.36K  --.-KB/s    in 0.04s

2020-01-24 14:12:27 (2.02 MB/s) - ‘Outcomes-a.txt.1’ saved [79219/79219]

--2020-01-24 14:12:27--  https://physionet.org/files/challenge-2012/1.0.0/Outcomes-b.txt
Resolving physionet.org (physionet.org)... 18.13.52.205
Connecting to physionet.org (physionet.org)|18.13.52.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 79149 (77K) [text/plain]
Saving to: ‘Outcomes-b.txt.1’

Outcomes-b.txt.1    100%[===================>]  77.29K  --.-KB/s    in 0.09s

2020-01-24 14:12:27 (883 KB/s) - ‘Outcomes-b.txt.1’ saved [79149/79149]

In [3]:
!unzip -u set-a.zip
!unzip -u set-b.zip

Archive:  set-a.zip
Archive:  set-b.zip

In [4]:
# pick a set
# dataset = 'set-a'
dataset = 'set-b'

In [7]:
# load in outcomes
if dataset == 'set-a':
    y = pd.read_csv('Outcomes-a.txt')
elif dataset == 'set-b':
    y = pd.read_csv('Outcomes-b.txt')
    
y.set_index('RecordID', inplace=True)
y.index.name = 'recordid'

In [8]:
y

          SAPS-I  SOFA  Length_of_stay  Survival  In-hospital_death
recordid
142675        27    14               9         7                  1
142676        12     1              31       468                  0
142680        12     7              17        16                  1
142683        19    15              17        -1                  0
142688         3     0               9        -1                  0
...          ...   ...             ...       ...                ...
152849        21    13               6       752                  0
152851        28    14              10        39                  0
152858        12     4              19       334                  0
152862         5     0              12        -1                  0
152864        18     8              14        88                  0

[4000 rows x 5 columns]

In [9]:
# load all files into list of lists
txt_all = list()
for f in os.listdir(dataset): #iterating through list of all .txt files in the folder
    with open(os.path.join(dataset, f), 'r') as fp:
        txt = fp.readlines()
        
    # get recordid to add as a column via txt parsing
    recordid = txt[1].rstrip('\n').split(',')[-1] 
    txt = [t.rstrip('\n').split(',') + [int(recordid)] for t in txt]
    txt_all.extend(txt[1:])
    
    
# convert to pandas dataframe
df = pd.DataFrame(txt_all, columns=['time', 'parameter', 'value', 'recordid'])

In [10]:
df.head()

    time parameter   value  recordid
0  00:00  RecordID  144404    144404
1  00:00       Age      71    144404
2  00:00    Gender       1    144404
3  00:00    Height   172.7    144404
4  00:00   ICUType       4    144404

In [11]:
pd.DataFrame(df).to_csv('../data/{}_predictors.csv'.format(dataset), index=False )
pd.DataFrame(y).to_csv('../data/{}_outcomes.csv'.format(dataset),index=True )